.container {
    margin: auto;
    height: 100vh;
}

.contador {
    overflow: hidden;
}

.tabela {
    height: 50vh;
    overflow-y: auto;
}

.title {
    margin-top: 25px;
}

.table .asc::after {
    display:inline;
    content: "▲";
}

.table .desc::after {
    display:inline;
    content: "▼";
}

.table .asc::after,
.table .desc::after {
    margin-left: 5px;
}

.table .asc,
.table .desc {
	background: rgba(0, 0, 0, 0.1);
}